/* Soluzione qui */

@media screen and ( min-width:576px) {
    .recipe-video img{
       width: 100%;
    }

    .recipe-info{
        padding-top: 100px;
    }
}

@media screen and ( min-width:768px) {
    #topbar{
        justify-content: left;
    }

    main{
        padding: 50px;
    }

    .recipe-origin{
        display: inline-block;
    }

    .recipe-title{
        font-size: 20px;
    }

    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
        
          
    }

    .quick-notes li{
        width: 33%;
    }

    .btn{
        width: 20%;
    }

    .ads{
        display: block;
    }

    .presentation img{
        float: left;
        margin-right: 20px;
    }
   
}

@media screen and ( min-width:992px){
    .recipe-title {
        font-size: 30px;
      }

      .quick-notes ul {
        display: flex;
        flex-direction: column;
      }

      .recipe-card{
        display: flex;
        
      }

      .recipe-info {
        padding-top: 0px;
        width: 36%;
      }

      .quick-notes li{
        width: 100%;
    }

    .recipe-video img {
        width: 100%;
        height: 100%;
      }

      .social-networks .label{
        display: inline-block;
      }
}


