/* Soluzione qui */

@media screen and ( min-width:576px) {
    .recipe-video img{
       width: 100%;
    }

    .recipe-info{
        padding-top: 100px;
    }
}

@media screen and ( min-width:768px) {
    #topbar{
        justify-content: left;
    }

    main{
        padding: 50px;
    }

    .recipe-origin{
        display: inline-block;
    }

    .recipe-title{
        font-size: 20px;
    }

    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
        
          
    }

    .quick-notes li{
        width: 33%;
    }

    .btn{
        width: 20%;
    }

    .ads{
        display: block;
    }


   
}